<md-toolbar color="primary">
    <span>GOOGLE DEVS</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>login</span>
      </button>
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>settings</span>
      </button>
    </md-menu>
</md-toolbar>
<md-tab-group>
  <md-tab label="Posts">
    <div>
      <md-card class="post_card" *ngFor="let post of posts">
        <md-card-header>
          <md-card-title>{{post.title}}</md-card-title>
        </md-card-header>
        <md-card-content>
          <p>{{post.body}}</p>
        </md-card-content>
      </md-card>
      </div>
  </md-tab>
  <md-tab label="Population">
  </md-tab>
  <md-tab label="Users">
    <md-list>
      <h3 md-subheader>Current users</h3>
      <md-list-item class="userItem" *ngFor="let user of users">
        <img md-list-avatar src="http://placehold.it/150/771796" alt="no image">
        <h2 md-line>{{user.name}}</h2>
        <p md-line> {{user.phone}} </p>
        <p md-line> {{user.company.name}} </p>
        <button md-raised-button color="accent" (click)="loadMore(user.id)" >
          load more
        </button>
      </md-list-item>
      <h3 md-subheader>Notes</h3>
    </md-list>
      <md-divider></md-divider>
  </md-tab>
</md-tab-group>
